[submodule "zsh/plugins/ohmyzsh"]
	path = zsh/plugins/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
