"*":
  "atom-beautify":
    cpp:
      default_beautifier: "clang-format"
  "clang-format": {}
  core:
    packagesWithKeymapsDisabled: [
      "clang-format"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "9e58c3f2-18ed-4f43-a330-93869ccb327e"
  "tree-view": {}
  welcome:
    showOnStartup: false
